body {
}

#table {
}

#board {
}

#disposable {
    display: inline;
}

#disposable li {
    float: left;
    list-style: none;
}

#hand {
    display: inline;
}

#hand li {
    list-style: none;
}

#dora_display {
}

#east_display {
}

.connectedSortable {
}

.outlined {
    border: gray;
}

.placeholder {
    color: gray;
    list-style: none;
}

.tile {
    border: solid 2px red;
    width: 60px;
    height: 90px;
}
