/* -*- css-indent-offset: 4 -*- */

#table {
    /* as wide as the hand for now */
    width: 700px;
    padding: 10px;
    background-color: green;
}

.tile {
    display: inline-block;
}

.tile > img {
    width: 50px;
}

#hand {
    width: 650px;
    height: 75px;
    vertical-align: center;
    padding: 15px;
}

.outlined {
    border: dashed 1px gray;
}

/* Switcher */
body > div { display: none; }
body.state-login > #login { display: block; }
body.state-waiting > #waiting { display: block; }
body.state-table > #table { display: block; }

#footer {
    font-size: small;
}
