/* -*- css-indent-offset: 4 -*- */

/*
  See table.svg for source of all measurements and positions.
  Right now we assume tiles are 30px x 44px.
*/

.ui {
    display: inline-block;
}

.ui .main-part {
    width: 600px;
    height: 506px;
}

.table {
    position: relative;
    background-color: green;
    background: url(table.svg);
    background-position: bottom;
    border: solid 5px darkgreen;
    color: white;
    overflow: hidden;
    /* Prevent vertical spacing between tiles */
    font-size: 0;
}

.ui .status {
    height: 23px;
    border: 1px solid black;
}

.tile, .tile-placeholder {
    display: inline-block;
    width: 30px;
    height: 44px;
}

.tile img {
    width: 100%;
    height: 100%;
}

.table .hand {
    margin: -1px;
    border: solid 1px green;
}

.table .hand.outlined {
    border: dashed 1px white;
}

.tiles-clickable .tile {
    cursor: pointer;
}

#footer {
    font-size: small;
}

/* Table elements */

.table .hand {
    width: 390px;
    height: 44px;
    position: absolute;
    left: 105px;
    bottom: 0px;
}

.table .tiles {
    width: 510px;
    height: 88px;
    position: absolute;
    left: 45px;
    bottom: 66px;
}

.table .discards {
    width: 180px;
    height: 132px;
    position: absolute;
    left: 210px;
    bottom: 176px;
}

.table .opponent-discards {
    width: 180px;
    height: 132px;
    position: absolute;
    left: 210px;
    bottom: 352px;

    transform: rotate(180deg);
}

.any-discards .tile:nth-child(1) {
    transform: translateX(7px) rotate(90deg);
}
.any-discards .tile:nth-child(2),
.any-discards .tile:nth-child(3),
.any-discards .tile:nth-child(4),
.any-discards .tile:nth-child(5),
.any-discards .tile:nth-child(6) {
    transform: translateX(14px);
}


.table .east-display {
    width: 75px;
    height: 38px;
    position: absolute;
    left: 0px;
    bottom: 0px
}

.table .east-display img {
    width: 100%;
    height: 100%;
}

.submit-hand {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.dora-display {
    position: absolute;
    left: 15px;
    bottom: 308px;
}
