/* -*- css-indent-offset: 4 -*- */

.ui {
    /* as wide as the hand for now */
    width: 700px;
    height: 600px;
    border: 1px solid gray;
    display: table;
}

.ui .table {
    display: table-row;
    height: 100%;
    padding: 10px;
    background-color: green;
}

.ui .status {
    display: table-row;
    height: 1.5em;
}

.tile {
    display: inline-block;
}

.tile > img {
    width: 50px;
}

.table .hand {
    width: 650px;
    height: 75px;
    vertical-align: center;
    padding: 15px;
}

.outlined {
    border: dashed 1px gray;
}

#footer {
    font-size: small;
}
