/* -*- css-indent-offset: 4 -*- */

/* Sprites */

.tile {
    overflow: hidden;
    background: url(tiles.svg);
}

{% for i, suit in suits %}
    {% for j in range(10) %}
        .tile[data-tile="{{ suit }}{{ j+1 }}"] {
            background-position: left -{{ j*30 }}px top -{{ i*44 }}px;
        }
    {% endfor %}
{% endfor %}
