/*
  See table.svg for source of all measurements and positions.
  Right now we assume tiles are 30px x 44px.
  */

// Global styles

$dark: #242;
$light: #ccc;

$table-width: 600px;
$table-height: 506px;

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;

  background: black;
  color: $light;
  a {
    text-decoration: none;
    font-weight: bold;
    color: #8c8;
  }
  p { margin: 0; }
  .note { color: #575; }
}

// * { box-sizing: border-box; }

.page {
  width: $table-width + 10px;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;

  background: $dark;
  box-shadow: 0 0 20px 20px $dark;
}

.footer {
  margin-top: 2em;
  font-size: 11px;
}

// Don't let page box-shadow overlap the qunit output
#qunit {
  position: relative;
  z-index: 1;
}

// UI

.ui {
  display: inline-block;
  position: relative;
  margin: 10px 0;

  .overlay {
    position: absolute;
    top: 25px;
    background: rgba(160, 160, 160, 0.7);
    width: 600px;
    height: 506px;
    border: solid 5px transparent;

    > div {
      text-align: center;
      margin-top: 220px;
      font-size: 30px;
      color: black;
      .load {
        margin-top: 1em;
      }
    }
  }

  .popup {
    position: absolute;
    top: 75px;
    left: 50px;
    width: 500px;
    height: 400px;
    padding: 5px 10px;
    background: rgba(255,255,255,0.8);
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px 10px darkgreen;
    overflow-y: auto;

    h2 {
      text-align: center;
      margin: 5px 0;
    }

    .reload {
      margin-top: 1em;
    }
  }

  .nicks, .status {
    height: 20px;
    line-height: 20px;
    background: darkgreen;
    padding: 5px 7px;
  }

  .nicks { padding-bottom: 0px; }
  .status { padding-top: 0px; }

  .status {
    .status-text, .clock {
      display: inline-block;
    }

    .clock {
      float: right;
      font-family: monospace;
      font-weight: bold;
      &.warning {
        color: red;
      }
    }
  }
}

// Lobby

.lobby {
  .games .scroll {
      height: 15em;
      margin-top: 1em;
      overflow-y: auto;
      background: white;
      border-radius: 5px;

      tr.inactive { color: #aaa; }
      tr:hover { background: #eee; }
  }
  table {
    width: 100%;
    padding: 5px;
    tr {
      height: 2em;
      text-align: center;

      td { width: 45%; }
      td.vs { width: 10%; }

      button { width: 12em; }
    }
  }
}

// Table

.table {
  // Prevent margin collapsing
  &:before {
    content: "\00a0"; // No-break space character
    display: block;
    overflow: hidden;
    height: 0;
  }

  width: $table-width;
  height: $table-height;
  position: relative;
  background-color: green;
  background: url(../img/table.svg);
  background-position: bottom;
  border: solid 5px darkgreen;
  color: white;
  overflow: hidden;
  // Prevent vertical spacing between tiles
  font-size: 0;

  .hand {
    margin: -1px;
    border: solid 1px green;

    &.outlined {
      border: dashed 1px white;
    }
  }

  // Elements - see table.svg for measurements

  .hand {
    width: 390px;
    height: 44px;
    position: absolute;
    left: 105px;
    bottom: 0px;
  }

  .tiles {
    width: 510px;
    height: 88px;
    position: absolute;
    left: 45px;
    bottom: 66px;
  }

  .discards {
    width: 180px;
    height: 132px;
    position: absolute;
    left: 210px;
    bottom: 176px;
  }

  .opponent-discards {
    width: 180px;
    height: 132px;
    position: absolute;
    left: 210px;
    bottom: 352px;

    transform: rotate(180deg);
  }

  .any-discards {
    .tile:nth-child(1) {
      transform: translateX(7px) rotate(90deg);
    }

    @for $i from 2 through 6 {
      .tile:nth-child($i) {
        transform: translateX(14px);
      }
    }
  }

  .east-display {
    width: 75px;
    height: 38px;
    position: absolute;
    left: 0px;
    bottom: 0px
  }

  .east-display img {
    width: 100%;
    height: 100%;
  }

  .any-stick {
    width: 120px;
    height: 10px;
    background: url(../img/stick.svg);
  }

  .stick {
    position: absolute;
    left: 240px;
    bottom: 314px;
  }

  .opponent-stick {
    position: absolute;
    left: 240px;
    bottom: 336px;
  }

  .submit-hand {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  .dora-display {
    position: absolute;
    left: 15px;
    bottom: 308px;
  }
}

// Tiles (see also sprites.scss)

.tile, .tile-placeholder {
  display: inline-block;
  width: 30px;
  height: 44px;
}

.tiles-clickable .tile {
  cursor: pointer;
}
