body {
}

#table {
}

#tiles {
    list-style: none;
}

#tiles li {
    display: inline-block;
}

#hand {
    width: 800px;
    height: 120px;
    list-style: none;
}

#hand li {
    display: inline-block;
}

#dora_display {
}

#east_display {
}

.connectedSortable {
}

.outlined {
    border: solid 1px gray;
}

.placeholder {
    color: gray;
    list-style: none;
}

.tile {

}
